<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605042044574-3s71qliuinbjua0ep6lfd9a5umjel8kj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605042044574-3s71qliuinbjua0ep6lfd9a5umjel8kj</string>
	<key>API_KEY</key>
	<string>AIzaSyArALOP1Akrk4kuNUIih7ULB5sv1m2lR3w</string>
	<key>GCM_SENDER_ID</key>
	<string>605042044574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BlancoSaulDev.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-project-flutter-saul</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-project-flutter-saul.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605042044574:ios:9b879219d01a9e929d958f</string>
</dict>
</plist>